/** -- ** - - - - - SECTION 0: HERO - - - - - ** -- **/
.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;

}

#destination {
    border-bottom: 4px #333 solid;
    margin-right: 7.5rem;
    margin-left: 7.5rem;
}

#destination-button {
    margin-top: 1rem;
}

/** -- ** - - - - - SECTION 1: MAP - - - - - ** -- **/

.map-container {
    height: 75vh;
    width: 100%;
    background-color: lightgray;
}

#map {
    height: 100%;
    
}




/** -- ** - - - - - SECTION 2: VP - - - - - ** -- **/
.vp-section {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vp-description {
    text-align: justify;
    text-justify: inter-word;
}

.vp-content {
    display: flex;
    justify-content: center;
    align-items: middle;
}

.vp-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

